html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #87adff;
    color: #333333;
    width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

label {
    direction: rtl;
    float: right;
}

#addressapp {
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#addressapp h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 10px 0;
}

#addressapp input[type="checkbox"] {
    float: right;
    direction: rtl;
}

#addressapp input[type="text"] {
    width: 120px;
    float: right;
    direction: rtl;
    font-size: 14px;
    margin-left: 10%;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    padding-right: 12px;
    border: 1px solid #999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#addressapp input[type="text"] :after {
    width: 90px;
    float: right;
    direction: rtl;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#addressapp input[type="search"] {
    width: 390px;
    float: right;
    direction: rtl;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 16px;
    border: 1px solid #999999;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#addressapp input[type="submit"] {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
    height: 34px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    background-color: #287bbc;
    border-color: #1b5480;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
    background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
    background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 20%;
}

#addressapp input[type="submit"]:hover {
    background: #04608E;
    background: -moz-linear-gradient(top, #69a0b6 0, #69a0b6 1px, #277696 1px, #04608e 100%);
    background: -o-linear-gradient(top, #69a0b6 0, #69a0b6 1px, #277696 1px, #04608e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #69a0b6), color-stop(5%, #69a0b6), color-stop(5%, #277696), color-stop(100%, #04608e));
    background: linear-gradient(top, #69a0b6 0%,#69a0b6 1px,#277696 1px,#04608e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#277696', endColorstr='#04608E',GradientType=0 );
    border-color: #004a73;
}

.dang{
    background-color: #ff2200;
    border-color: #802b00;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
    background-image: -webkit-linear-gradient(top, #bc1c00 0%, #9a1f00 100%);
    background-image: -moz-linear-gradient(top, #bc1e00 0%, #9a0005 100%);
    background-image: -o-linear-gradient(top, #bc1800 0%, #9a0900 100%);
    background-image: linear-gradient(top, #bc0008 0%, #9a1900 100%);
}

.warn{
    background-color: #ffd900;
    border-color: #ffd900;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
    background-image: -webkit-linear-gradient(top, #ffd900 0%, #ffbd00 100%);
    background-image: -moz-linear-gradient(top, #ffd900 0%, #ffd900 100%);
    background-image: -o-linear-gradient(top, #ffd900 0%, #ffd900 100%);
    background-image: linear-gradient(top, #ffd900 0%, #ffbd00 100%);
}

.info{
    background-color: #0900ff;
    border-color: #007980;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
    background-image: -webkit-linear-gradient(top, #0031bc 0%, #00099a 100%);
    background-image: -moz-linear-gradient(top, #0044bc 0%, #00339a 100%);
    background-image: -o-linear-gradient(top, #001cbc 0%, #3f009a 100%);
    background-image: linear-gradient(top, #001abc 0%, #00489a 100%);
}


.btn  {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
    height: 34px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 40%;
}


#addressapp input::-webkit-input-placeholder {
    font-style: italic;
}

#address-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#address-list li {
    padding: 18px 20px 18px 0;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
}

#address-list li:last-child {
    border-bottom: none;
}

#address-list li.done label {
    color: #777777;
    text-decoration: line-through;
}

#address-list .destroy {
    position: absolute;
    left: 5px;
    top: 20px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../public/img/destroy.png) no-repeat;
}

#address-list li:hover .destroy {
    display: block;
}

#address-list .destroy:hover {
    background-position: 0 -20px;
}

#address-list li.editing {
    border-bottom: none;
    margin-top: -1px;
    padding: 0;
}

#address-list li.editing:last-child {
    margin-bottom: -1px;
}

#address-list li .view label {
    float: inherit;
    direction: rtl;
    margin: 32%;
    word-break: break-word;
}

.highlight{
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 80%;
}

.highlight-2{
    padding: 1px 4px;
    margin: 14px;
    background-color: #93c4f9;
    border: 1px solid #001de9;
    border-radius: 4px;
    width: 80%;
}

.dark-2{
    padding: 1px 4px;
    margin: 14px;
    background-color: #f9631d;
    border: 1px solid #e90600;
    border-radius: 4px;
    width: 80%;
}

.float-right{
    direction: rtl;
    float: inherit;
}

.full{
    width: 95%;
}

#addressapp footer {
    margin: 0 -20px -20px -20px;
    overflow: hidden;
    color: #555555;
    background: #f4fce8;
    border-top: 1px solid #ededed;
    padding: 0 20px;
    line-height: 37px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#clear-completed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px 1px;
    cursor: pointer;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

#clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#clear-completed:active {
    position: relative;
    top: 1px;
}

#address-count span {
    font-weight: bold;
}

#instructions {
    margin: 10px auto;
    color: #ffffff;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    text-align: center;
}

#instructions a {
    color: #ffffff;
}

#credits {
    margin: 30px auto;
    color: #ffffff;
    text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
    text-align: center;
}

#credits a {
    color: #000000;
}
